# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables & Secrets
.env
.env.*
backend/.env
frontend/.env
*.env

# Build outputs & caches
dist/
dist-ssr/
*.local
.cache/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

